name: docker-registry-dev

services:
    registry:
        image: registry:latest
        container_name: registry-dev
        restart: unless-stopped

        environment:
            - REGISTRY_STORAGE_FILESYSTEM_ROOTDIRECTORY=/data
            - REGISTRY_STORAGE_DELETE_ENABLED=true
        ports:
            - ${REGISTRY_PORT?}:5000
        volumes:
            - ./data:/data
            - ./config/config.dev.yml:/etc/docker/registry/config.yml:ro

    registry-ui:
        image: joxit/docker-registry-ui:latest
        container_name: registry-ui-dev
        restart: unless-stopped

        environment:
            - SINGLE_REGISTRY=true
            - REGISTRY_TITLE=Dev Registry
            - DELETE_IMAGES=true
            - SHOW_CONTENT_DIGEST=true
            - NGINX_PROXY_PASS_URL=http://registry:5000
            - SHOW_CATALOG_NB_TAGS=true
            - CATALOG_MIN_BRANCHES=1
            - CATALOG_MAX_BRANCHES=1
            - TAGLIST_PAGE_SIZE=100
            - REGISTRY_SECURED=false
            - CATALOG_ELEMENTS_LIMIT=1000
        ports:
            - ${REGISTRY_UI_PORT?}:80
