name: docker-registry
services:
  registry:
    image: registry:2
    ports:
      - 5001:5000
    restart: always
    environment:
      - REGISTRY_STORAGE_FILESYSTEM_ROOTDIRECTORY=/data
      - REGISTRY_STORAGE_DELETE_ENABLED=true
    volumes:
      - ./data:/data
    container_name: registry

  registry-ui:
    image: joxit/docker-registry-ui:latest
    restart: always
    ports:
      - 8001:80
    environment:
      - SINGLE_REGISTRY=true
      - REGISTRY_TITLE=Private Registry
      - DELETE_IMAGES=true
      - SHOW_CONTENT_DIGEST=true
      - NGINX_PROXY_PASS_URL=http://registry:5000
      - SHOW_CATALOG_NB_TAGS=true
      - CATALOG_MIN_BRANCHES=1
      - CATALOG_MAX_BRANCHES=1
      - TAGLIST_PAGE_SIZE=100
      - REGISTRY_SECURED=false
      - CATALOG_ELEMENTS_LIMIT=1000
    container_name: registry-ui
