name: docker-registry-dev

services:
    registry:
        image: registry:latest
        container_name: registry-dev
        restart: no
        networks:
            - traefik-public

        environment:
            - REGISTRY_STORAGE_FILESYSTEM_ROOTDIRECTORY=/data
            - REGISTRY_STORAGE_DELETE_ENABLED=true
        volumes:
            - ./data:/data
            - ./config/config.dev.yml:/etc/docker/registry/config.yml:ro

        labels:
            - traefik.enable=true
            - traefik.http.routers.registry.rule=Host(`registry.localhost`)
            - traefik.http.routers.registry.entrypoints=web

    registry-ui:
        image: joxit/docker-registry-ui:latest
        container_name: registry-ui-dev
        restart: no
        networks:
            - traefik-public

        environment:
            - SINGLE_REGISTRY=true
            - REGISTRY_TITLE=Dev Registry
            - DELETE_IMAGES=true
            - SHOW_CONTENT_DIGEST=true
            - NGINX_PROXY_PASS_URL=http://registry:5000
            - SHOW_CATALOG_NB_TAGS=true
            - CATALOG_MIN_BRANCHES=1
            - CATALOG_MAX_BRANCHES=1
            - TAGLIST_PAGE_SIZE=100
            - REGISTRY_SECURED=false
            - CATALOG_ELEMENTS_LIMIT=1000

        labels:
            - traefik.enable=true
            - traefik.http.routers.registry-ui.rule=Host(`registry-ui.localhost`)
            - traefik.http.routers.registry-ui.entrypoints=web

networks:
    traefik-public:
        external: true
