version: 0.1

log:
    level: debug

storage:
    filesystem:
        rootdirectory: /data
    delete:
        enabled: true

http:
    addr: :5000

health:
    storagedriver:
        enabled: true
        interval: 10s
        threshold: 3
