version: 0.1

log:
    level: info

storage:
    filesystem:
        rootdirectory: /data
    delete:
        enabled: true

http:
    addr: :5000
    headers:
        X-Content-Type-Options: [nosniff]

health:
    storagedriver:
        enabled: true
        interval: 10s
        threshold: 3
